{% extends 'base.html.twig' %}

{% block title %}Iniciar sesi칩n{% endblock %}

{% block body %}
    <form method="post">
        <h1>Acceso a la aplicaci칩n</h1>
        {% if error %}
            <h2 style="color: red">{{ error.message }}</h2>
        {% endif %}
        <input type="text" value="{{ last_username }}" name="_username" placeholder="Correo electr칩nico" required {% if not error %}autofocus{% endif %}>
        <input type="password" name="_password" placeholder="Contrase침a" required {% if error %}autofocus{% endif %}>
        <button type="submit" class="btn btn-primary">Entrar</button>
    </form>
{% endblock %}