{% extends 'layout.html.twig' %}

{% block content %}
    <h1>¡Bienvenido a MiniBiblio!</h1>
    Esta es una aplicación que permite gestionar los libros de una pequeña biblioteca.

    <h2>Acerca de</h2>
    El proyecto es parte de los ejercicios del módulo profesional Desarrollo de Aplicaciones en Entorno Servidor del ciclo formativo de grado superior Desarrollo de Aplicaciones Web del I.E.S. Oretania (Linares).

    <h2>Licencia</h2>
    <img src="https://www.gnu.org/graphics/agplv3-155x51.png" alt="AGPLv3" />
{% endblock %}
