{% extends 'base.html.twig' %}

{% block body %}
    {% include '_navbar.html.twig' %}
    <div class="container">
        <div class="container">
            {% for mensaje in app.flashes('success') %}
                <div class="alert alert-success">
                    {{ mensaje }}
                </div>
            {% endfor %}
            {% for mensaje in app.flashes('error') %}
                <div class="alert alert-error">
                    {{ mensaje }}
                </div>
            {% endfor %}
        </div>
    {% block content %}
    {% endblock content %}
    </div>
{% endblock %}
